Classes/Nights.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Nights" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Night" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="startTime" type="xs:dateTime"/>
              <xs:element name="endTime" type="xs:dateTime"/>
              <xs:element name="timeSleptInMinutes" type="xs:double"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
